:root {
  --main-color: #15152b;
}

.navbar {
  width: 100%;
  height: 70px;
  background-color: white;
  color: var(--main-color);
  position: fixed;
  top: 0;
  overflow-y: hidden;
  z-index: 3;
  transition: all 1s ease;
}

.navbar .wrapper {
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .left {
  height: 70px;
  padding: 0px 0px;
  display: flex;
  align-items: center;
}

.navbar .left .logo {
  font-size: 40px;
  font-weight: 700;
  text-decoration: none;
  color: inherit;
  margin-right: 40px;
}